{% extends 'home/homebase.html' %}
{% block title %}SmileyPage About{% endblock %}
{% block body %}

<div class="container">


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Brief Introduction</strong>
                    </h2>
                    <hr>
                    <p>Hi, this is Yue Xu, from Carnegie Mellon University. This is my term project for course 15-112. I hope people could find this website convenient for them to find friends and share great things.</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About:
                        <strong>Find Your Study Buddy and Lunch Buddy</strong>
                    </h2>
                    <hr>
                        <p>Leaving high school and entering college, students are no longer able to eat lunch and study together with friends all the time. Most college students say that “people should get used to do things alone because loneliness is such a common thing in college”. In Carnegie Mellon University, everyone has a different schedule and is busy meeting different deadlines. Time becomes so valuable yet scarce. It is uneasy to find someone to eat lunch with or study together just at the “right time”. </p>
                </div>
            </div>
        </div>

    </div>














{% endblock %}