.nav-pills-custom>li>a {
	color: lightgrey;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: grey;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #337AB7;
}
.form-control-nav{
	background-color:#F0FFFF;
    border: lightgrey solid 1px;
	border-radius:15px;
}
body{
	/* background-color: rgb(123, 136, 235); */
	background-image: url("bg-01.jpg");
	/* Full height */
	height: 100%; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar-default .navbar-collapse, .navbar-default{
	background-color: rgb(60, 94, 114);
}
.panel-footer{
	background-color: rgb(217, 217, 255);
}

.media{
	border-style: ridge;
}

.well{

	background-color: rgb(133, 228, 228);
}
a{
	color:#60A6C1;
}
div.panel-heading{
	padding-top:15px;
	padding-bottom: 5px;

}

div.panel-heading1{
	margin: 30px;
	background-color: rgb(191, 234, 247);
	border: 2px solid #60A6C1;
	opacity: 0.7;
	filter: alpha(opacity=70); 
}

.form-control-feedback{
	line-height:27px;
}
.panel-info{
	border:1px lightgrey solid;
}


.form-control {
    width: 300px;
}