{% extends 'user/base.html' %}
{% block title %}SmileyPage Friends{% endblock %}

{% block username %}{{user.username}}'s SmileyPage -- Friends{% endblock %}

{% block body %}

<div class="row">

    <nav class="navbar navbar-default" role = "navigation">
        <ul class="nav navbar-nav">
            <li>
                <a href = "{% url 'user:display_friends' %}">Friends List</a>
            </li>
            <li>
                <a href = "{% url 'user:display_request' %}">Friends Request</a>
            </li>
            <li>
                <a href = "{% url 'user:friends_events' %}">Friends' Events</a>
            </li>
            <li>
                <a href = "{% url 'user:friends_search' %}">All Users</a>
            </li>
            <li vertical-align="center">
                <form method = 'GET' action='' style="padding-top:32px;padding-left: 30px">
                <input type='text' name = 'q' placeholder = 'Search Friends' value = '{{request.GET.q }}'/>
                <input type = 'submit' value='Search'/>
                </form>
            </li>
        </ul>
    </nav>

    {% if friends %}
    {% for friend in friends %}
    <div class="col-sm-8 col-lg-3">
                    <div class="thumbnail"  id="transparent">
                        <div class="caption">
                            <h3>{{ friend.username }}</h3>
                            <h4>{{ friend.status_in_cmu }}</h4>
                            <a href="{% url 'user:user_detail' friend.id %}" class="btn btn-primary btn-sm" role="button">View Profile</a>
                            <form action="{% url 'user:delete_friend' friend.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="event_id" value="{{ event.id }}" />
                                <button type="submit" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                        </div>
                    </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="col-sm-8 col-lg-5">
                    <div class="thumbnail"  id="transparent">
                        <div class="caption">
                        <h2 id="normalLetter">No Friends Available~</h2>
                        </div>
                    </div>
    </div>
    {% endif %}

</div>


{% endblock %}